<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxquan.manage.content.mapper.BannerItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sxquan.core.pojo.content.BannerItem">
        <id column="id" property="id"/>
        <result column="banner_id" property="bannerId"/>
        <result column="banner_item_name" property="bannerItemName"/>
        <result column="img" property="img"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
            id, banner_id, banner_item_name, img, create_time, update_time
    </sql>
</mapper>
