<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>登录日志管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/font.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body>
<div class="ebe-body">
    <div class="layui-fluid" id="ebe-logLogin">
        <div class="layui-card">
            <div class="layui-card-body ebe-table-full">
                <form class="layui-form ebe-search">
                    <div class="layui-row">
                        <div class="layui-col-md10">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label layui-form-label-sm">登录用户</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="username" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label layui-form-label-sm">登录时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="loginTimeRange" id="loginTime" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12  table-action-area">
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" lay-submit
                                 lay-filter="data-search-btn" id="query">
                                <i class="layui-icon layui-icon-search"></i>
                            </div>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                 shiro:hasAnyPermissions="logLogin:delete">
                                <i class="layui-icon layui-icon-unorderedlist"></i>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="layui-hide" id="logLoginTable" lay-filter="logLoginTable"></table>
                <script type="text/html" id="currentTableBar">
                    <span shiro:lacksPermission="logLogin:delete">
        				<span class="layui-badge-dot"></span> 无权限
    				</span>
                    <a class="layui-btn layui-btn-xs layui-btn-red data-count-delete" lay-event="delete"
                       shiro:hasPermission="logLogin:delete">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>
<script src="/lib/layui/layui.js" charset="utf-8"></script>
<script src="/lib/lay-config.js" charset="utf-8"></script>
<script data-th-inline="none">
    layui.use(['form', 'table', 'layuimini', 'dropdown', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layuimini = layui.layuimini,
            dropdown = layui.dropdown,
            laydate = layui.laydate,
            table = layui.table;
        // 时间组件
        laydate.render({
            elem: '#loginTime',
            range: true,
            trigger: 'click'
        });
        //表格
        layuimini.table.init({
            elem: '#logLoginTable',
            url: '/monitor/logLogin/list',
            cols: [[
                {type: "checkbox", width: 50, fixed: "left"},
                {title: 'ID', type: 'numbers'},
                {field: 'username', title: '登录用户'},
                {field: 'ip', title: 'IP地址'},
                {field: 'location', title: '登录地点'},
                {field: 'systems', title: '登录系统'},
                {field: 'browser', title: '浏览器'},
                {field: 'loginTime', title: '登录时间', minWidth: 180, sort: true, align: "center"},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', fixed: "right", align: "center"}
            ]]
        });

        // 监听搜索登录
        form.on('submit(data-search-btn)', function (data) {
            let result = data.field;
            //执行搜索重载
            table.reload('logLoginTable', {
                page: {
                    curr: 1
                },
                where: result

            }, 'data');

            return false;
        });
        dropdown.render({
            elem: $('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('logLoginTable');
                let checkLen = checkStatus.data.length;
                if (name === 'delete') {
                    if (!checkLen) {
                        layuimini.alert.warn('请选择需要删除的登录日志');
                    } else {
                        layuimini.modal.confirm('删除日志', '确定删除所选日志？', function () {
                            var logIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                logIds.push(item.id)
                            });
                            layuimini.delete('/monitor/logLogin/' + logIds.join(','), function () {
                                table.reload('logLoginTable', {
                                    page: {
                                        curr: layuimini.judgeRemoveTablePage('logLoginTable',checkLen)
                                    }
                                }, 'data');
                                layuimini.alert.success('删除日志成功');
                            });
                        });
                    }
                }
            },
            options: [{
                name: 'delete',
                title: '删除登录日志',
                perms: 'logLogin:delete'
            }]
        });
        table.on('tool(logLoginTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'delete') {
                layuimini.modal.confirm('删除用户', '确定删除该日志？', function () {
                    layuimini.delete('/monitor/logLogin/' + data.id, function () {
                        table.reload('logLoginTable', {
                            page: {
                                curr: layuimini.judgeRemoveTablePage('logLoginTable',1)
                            }
                        }, 'data');
                        layuimini.alert.success('删除日志成功');
                    });
                });
            }
        });


    });
</script>
</body>
</html>
