<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>角色管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/font.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body class="ebe-body">
<div class="layui-fluid" id="ebe-role">
    <div class="layui-card">
        <div class="layui-card-body ebe-table-full">
            <form class="layui-form ebe-search">
                <div class="layui-row">
                    <div class="layui-col-md10">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label layui-form-label-sm">角色名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="roleName" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label layui-form-label-sm">状态</label>
                                <div class="layui-input-inline">
                                    <select name="status">
                                        <option value=""></option>
                                        <option value="0">禁用</option>
                                        <option value="1">启用</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md2 layui-col-sm12 layui-col-xs12  table-action-area">
                        <div class="layui-btn layui-btn-sm layui-btn-primary table-action" lay-submit
                             lay-filter="data-search-btn" id="query">
                            <i class="layui-icon layui-icon-search"></i>
                        </div>
                        <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                             shiro:hasAnyPermissions="role:add,role:delete">
                            <i class="layui-icon layui-icon-unorderedlist"></i>
                        </div>
                    </div>
                </div>
            </form>

            <table class="layui-hide" id="roleTable" lay-filter="currentTableFilter"></table>
        </div>
    </div>


</div>
</div>
<script src="/lib/layui/layui.js" charset="utf-8"></script>
<script src="/lib/lay-config.js" charset="utf-8"></script>

<script type="text/html" id="role-status">
    {{#
    var status = {
    1: {title: '启用', color: 'green'},
    0: {title: '禁用', color: 'red'}
    }[d.status];
    }}
    <span class="ebe-badge ebe-tag-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/html" id="currentTableBar">
    <span shiro:lacksPermission="role:update,role:delete">
        <span class="layui-badge-dot"></span> 无权限
    </span>
    <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit"
       shiro:hasPermission="role:update">编辑</a>
    {{# if(d.roleId < 5) { }}
    <a shiro:hasPermission="role:delete" class="layui-btn layui-btn-xs layui-btn-disabled" disabled>删除</a>
    {{# } else { }}
    <a shiro:hasPermission="role:delete" class="layui-btn layui-btn-xs layui-btn-red data-count-delete"
       lay-event="delete">删除</a>
    {{# } }}
</script>
<script data-th-inline="none">
    layui.use(['form', 'table', 'layuimini', 'dropdown', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layuimini = layui.layuimini,
            dropdown = layui.dropdown,
            laydate = layui.laydate,
            table = layui.table,
            NOT_DELETE_RANGE = 5;

        // 时间组件
        laydate.render({
            elem: '#createTime',
            range: true,
            trigger: 'click'
        });
        //表格
        layuimini.table.init({
            elem: '#roleTable',
            url: '/role/list',
            cols: [[
                {type: "checkbox", width: 50, fixed: "left"},
                {field: 'roleId', title: 'ID', type: 'numbers'},
                {field: 'roleName', title: '角色名'},
                {field: 'roleDesc', title: '描述', minWidth: 400},
                {title: '状态', templet: "#role-status", align: "center"},
                {field: 'createTime', title: '创建时间', align: "center", minWidth: 180, sort: true},
                {title: '操作', minWidth: 150, fixed: "right", align: "center", templet: "#currentTableBar"}
            ]],
            done: function (res, curr, count) {
                for (var i = 0; i < res.data.length; i++) {
                    if (res.data[i].roleId < NOT_DELETE_RANGE) {
                        var index = res.data[i]['LAY_TABLE_INDEX'];
                        $checkbox = $(".layui-table tr[data-index=" + index + "] input[type='checkbox']")
                        $checkbox.prop('disabled', true);
                        $checkbox.next().addClass('layui-btn-disabled');
                        $checkbox.prop('name', 'roleId');
                    }
                }
            },
        });
        dropdown.render({
            elem: $('.action-more'),
            click: function (name, elem, event) {
                var checkStatus = table.checkStatus('roleTable');
                let checkLen = checkStatus.data.length;
                if (name === 'add') {
                    layuimini.model.open('新增角色', '/system/role/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '70%' : '50%',
                        yes: function (index, layero) {
                            $('#role-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#role-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
                if (name === 'delete') {
                    if (!checkLen) {
                        layuimini.alert.warn('请选择需要删除的角色');
                    } else {
                        layuimini.modal.confirm('删除角色', '确定删除所选角色？', function () {
                            var roleIds = [];
                            layui.each(checkStatus.data, function (key, item) {
                                roleIds.push(item.roleId)
                            });
                            layuimini.delete('/role/' + roleIds.join(','), function () {
                                table.reload('roleTable', {
                                    page: {
                                        curr: layuimini.judgeRemoveTablePage('roleTable',checkLen)
                                    }
                                }, 'data');
                                layuimini.alert.success('删除角色成功');
                            });
                        });
                    }
                }
            },
            options: [{
                name: 'add',
                title: '新增角色',
                perms: 'role:add'
            }, {
                name: 'delete',
                title: '删除角色',
                perms: 'role:delete'
            }]
        });
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = data.field;
            //执行搜索重载
            table.reload('roleTable', {
                page: {
                    curr: 1
                },
                where: result

            }, 'data');

            return false;
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'delete') {
                layuimini.modal.confirm('删除角色', '确定删除该角色？', function () {
                    layuimini.delete('/role/' + data.roleId, function () {
                        table.reload('roleTable', {
                            page: {
                                curr: layuimini.judgeRemoveTablePage('roleTable',1)
                            }
                        }, 'data');
                        layuimini.alert.success('删除角色成功');
                    });
                });
            }
            if (layEvent === 'edit') {
                layuimini.model.open('修改角色', '/system/role/update/' + data.roleId, {
                    area: $(window).width() <= 750 ? '70%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#role-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

    });
</script>
<script>

</script>

</body>
</html>
