<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxquan.manage.middle.mapper.CategoryProductSpuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sxquan.manage.middle.pojo.CategoryProductSpu">
        <result column="category_id" property="categoryId" />
        <result column="spu_id" property="spuId" />
        <result column="merger_category_id" property="mergerCategoryId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        category_id, spu_id, merger_category_id
    </sql>

</mapper>
